.drone-cards {
    display: flex;
    overflow: hidden;
    flex-direction: row;
    gap: 20px;
    cursor: pointer;
}

.drone-main {
    padding: 16px
}

.drone-card {
    width: 100%;
}

.drone-name {
    font-weight: 600 !important;
    font-size: 18px !important;
    text-transform: capitalize !important;
}

.status-green {
    color: green !important;
    font-weight: 600 !important;
}

.status-red {
    color: red !important;
    font-weight: 600 !important;
}

.status-blue {
    color: blue !important;
    font-weight: 600 !important;
}

hr {
    border: 0.5px solid lightgray;
}

.drone-image {
    width: 95px;
}

.card-image {
    width: 100%;
}

.drone-details-div {
    text-align: center;
    margin-top: 1rem;
    height: 50%;
}

.drone-content-title {
    font-size: 16px !important;
    text-align: left;
    font-weight: 500;
}

.drone-details-map {
    margin-top: 1rem;
    height: 50% !important;
}

.drone-detail {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 2.5rem;
}


.drone-card-label2 {
    font-size: 12px !important;
    color: grey !important;
}

/* Card Details */

.card-details-main {
    padding: 16px;
}

.details-card {
    height: 100%;
}

@media screen and (max-width: 840px) {

    .card-details-sec1,
    .card-details-sec2 {
        height: auto !important;
    }
}

.card-label1 {
    font-weight: 600 !important;
    font-size: 16px !important;
}